.footer {
    background-color: $color-gray-dark3; 
    padding: 3rem 2rem;
    font-size: 1.2rem;
    text-align: center;
    @include respond (tab-port){
        font-size: 2rem;
    }
    &__logo-box{
        text-align: center;
        margin-bottom: 3rem;
    }
    &__logo{
        width: 25rem;
        height: auto;
    }
    &__navigation{
        border-top: 1px solid $color-gray-dark2;
        padding-top: 2rem;
        display: inline-block;
    }
    &__list{
        list-style: none;
        text-align: center;
    }
    &__item{
        display: inline-block;
        @include respond (tab-port){
            display: block;
        }
        &:not(:last-child){
            margin-right: 2.5rem;
            @include respond (tab-port){
                margin-right: 0;
                margin-bottom: 1.5rem;
            }
        }
    }
    &__link{
        &:link,
        &:visited{
            color: $color-gray-light1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            text-shadow: 0 1px 3px $color-black;
        }
        &:hover,
        &:active{
            color: $color-primary;
            text-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: translateY(-2px) scale(1.1);
        }
    }
}