@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes backSlider{
    0% {
        background-image:  
                        url(/img/ford-focus.png);
    }
    24% {
        background-image:  
                        url(/img/ford-focus.png);
    }
    25% {
        background-image:  
                        url(/img/opel-astra.png);
    }
    49% {
        background-image:  
                        url(/img/opel-astra.png);
    }
    50% {
        background-image:  
                        url(/img/renault-clio.png);
    }
    74% {
        background-image:  
                        url(/img/renault-clio.png);
    }
    75% {
        background-image:  
                        url(/img/opel-vivaro.png);
    }
    100% {
        background-image:  
                        url(/img/opel-vivaro.png);
    }
}

@keyframes backSlider2{
    0% { background-image: url(/img/zagreb.jpg); }
    19% { background-image: url(/img/zagreb.jpg); }
    20% { background-image: url(/img/beograd.jpg); }
    39% { background-image: url(/img/beograd.jpg); }
    40% { background-image: url(/img/sarajevo.jpg); }
    59% { background-image: url(/img/sarajevo.jpg); }
    60% { background-image: url(/img/ljubljana.jpg); }
    79% { background-image: url(/img/ljubljana.jpg); }
    80% { background-image: url(/img/budimpesta.jpg); }
    100% { background-image: url(/img/budimpesta.jpg); }
    
}