.center-text { text-align: center; }

.margin-bot-8 { 
    margin-bottom: 8rem; 

    @include respond(tab-port){
        margin-bottom: 5rem;
    }
}

.margin-bot-2 { margin-bottom: 2rem; }

.text-lighter{ color: $color-gray-light1; }

.vh-30{
    height: 30vh;
}

.icon-bar{
    @include respond(phone){
        display: none;
    }
}